*{
    margin: auto;
    background-color: rgb(218, 218, 218);
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',sans-serif;
    color: rgb(48, 48, 48);
}

a{
    color: rgb(218, 218, 218);
    background-color: rgb(48, 48, 48);
}
header{
    width: 100%;
    height: 7vh;
    padding-top: 2vh;
    background-color: rgb(48, 48, 48);
}

nav{
    text-align: center;
    background-color: rgb(48, 48, 48);
}

nav li{
    text-decoration: underline;
    list-style: none;
    font-size: 150%;
    display: inline;
    text-align: center;
    background-color: rgb(48, 48, 48);
    color: rgb(218, 218, 218);
}

nav img{
    width: 3vw;
    height: 5.5vh;
    border-radius: 25%;
    background-color: rgb(48, 48, 48);
}

#nav{
    float: left;
    margin-left: 2vw;
}

#nav li{
    margin-right: 4vw;
}

#social{
    float: right;
    margin: 0;
    margin-right: 2vw;
}

#social li{
    margin: 0.75vw;
}

#git{
    margin-left: 10.5vw;
    background-color: rgb(48, 48, 48);
}

#intro img{
    width: 14vw;
    height: 26vh;
    border-radius: 50%;
    margin: 0;
    margin-left: 42.5vw;
    margin-bottom: 2vh;
}
h1{
    text-align: center;
    font-size: 500%;

}

#intro{
    width: 100%;
    height: 40vh;
    margin-top: 2vh;
    /* background-color: blue; */
}

#info{
    width: 80%;
    height: 30vh;
    /* background-color: rgb(236, 232, 232); */
    text-align: center;

}

#info li{
    list-style: none;
}

#info h3{
    font-size: 150%;
    margin-top: 2vh;
}

#bio{
    float: left;
    width: 41%;
    font-size: 135%;
    margin-left: 2vw;
    /* background-color: green; */
}

#experience{
    width: 50vw;
    height: 100%;
    /* background-color: blue; */
    margin-left: 35vw;
}

#experience img{
    width: 7vw;
    height: 12vh;
    margin: 8px;
    border-radius: 2%;
}

#experience h3{
    font-size: 250%;
    margin-bottom: 2vh;
}

#projects{
    margin-top: 10vh;
    width: 100%;
    height: 75vh;
    /* background-color: blue; */
}

#projects h1{
    font-size: 400%;
}

#projects section{
    width: 100%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    justify-content:space-between;
}

#projects section div{
    /* background-color: yellow; */
    width: 45%;
    height: 34vh;
    margin-top: 4vh;
}

#projects section img{
    width: 100%;
    height: 150%;
    border-radius: 2%;
    
}

#projects h2{
    font-size: 205%;
    text-align: center;
    margin-top: 2vh;
    color: black;
}

p{
    text-align: center;
    margin-top: 0.5vh;
    margin-bottom: 2vh;
}

footer{
    margin-top: 8vh;
    width: 100%;
    height: 7vh;
    display: flex;
    background-color: rgb(48, 48, 48);
    padding-top: 2vh;
    padding-bottom: 2vh;
}

footer nav{
    background-color: rgb(48, 48, 48);
}

footer li{
    background-color: rgb(48, 48, 48);
}

footer a{
    background-color: rgb(48, 48, 48);
}



